Repository big-frontend/spacecraft-android: changes, and which GitLab CI jobs are due for each by the changed paths.
All: fwk-common, fwk-av, fwk-hybrid, fwk-image, fwk-map, fwk-network, fwk-storage, fwk-loader, home-myhome, home-deploy

fwk-common:
  stage: build
  script:
  - ./gradlew :framework:common:build

fwk-av:
  stage: build
  script:
  - ./gradlew :framework:av:build

fwk-hybrid:
  stage: build
  script:
  - ./gradlew :framework:hybrid:build

fwk-image:
  stage: build
  script:
  - ./gradlew :framework:image:build

fwk-map:
  stage: build
  script:
  - ./gradlew :framework:map:build

fwk-network:
  stage: build
  script:
  - ./gradlew :framework:network:build

fwk-storage:
  stage: build
  script:
  - ./gradlew :framework:storage:build

fwk-loader:
  stage: build
  script:
  - ./gradlew :framework:loader:build

home-myhome:
  stage: build
  script:
  - ./gradlew :components:home-module:myhome:build

home-deploy:
  stage: deploy
  script:
  - ./gradlew :components:home-module:myhome:publishToMavenLocal

update
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/photo/repository/MyDataSource.java
Due: none

update
  .gitlab-ci-myhome.yml
Due: none

update
  .gitlab-ci-hotel.yml
  .gitlab-ci-myhome.yml
Due: none

add kotli flow
  .gitlab-ci-fwk.yml
  app/README.md
  components/home-module/myhome/build.gradle
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/notification/InfosViewModel.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/notification/ListItem.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/profile/ProfileFragment.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/profile/vm/ProfileViewModel.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/splash/SplashActivity.java
  components/home-module/myhome/src/main/res/layout/fragment_profile.xml
  script/app_module.gradle
Due: none

update
  .gitlab-ci-fwk.yml
  .gitlab-ci-hotel.yml
  .gitlab-ci-myhome.yml
Due: none

update
  .gitlab-ci-fwk.yml
Due: none

update
  .gitlab-ci-fwk.yml
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/network/A.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/network/Httper.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/network/README.md
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/profile/ProfileFragment.kt
Due: none

update
  components/home-module/myhome/src/main/AndroidManifest.xml
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/network/A.kt
  components/home-module/myhome/src/main/res/layout/activity_profile_detail.xml
  components/hotel-module/bundle2/src/main/java/com/jamesfchen/bundle2/mvvm/MyFragment.kt
  components/hotel-module/bundle2/src/main/java/com/jamesfchen/bundle2/mvvm/MyViewModel.kt
  framework/loader/src/main/java/com/jamesfchen/loader/monitor/FrameTrace1.kt
  framework/loader/src/main/java/com/jamesfchen/loader/monitor/Monitor.kt
  framework/loader/src/main/java/com/jamesfchen/loader/monitor/README.md
  framework/network/README.md
  script/dump_android_hprof.sh
  script/dump_mat_hprof.py
  script/dump_mat_hprof.sh
Due: fwk-network, fwk-loader

update lint
  .gitmodules
  components/hotel-module/bundle1/build.gradle
  components/hotel-module/bundle1/src/main/AndroidManifest.xml
  components/hotel-module/bundle1/src/main/java/com/jamesfchen/bundle1/CustomEditText.kt
  components/hotel-module/bundle1/src/main/java/com/jamesfchen/bundle1/Test1.java
  components/hotel-module/hotel-lint/src/main/java/com/jamesfchen/lint/DangerousApiDetector.kt
  components/hotel-module/hotel-lint/src/main/java/com/jamesfchen/lint/MyIssueRegistry.kt
  framework/loader/README.md
  lint.xml
  script/base_module.gradle
Due: fwk-loader

add lint
  .gitlab-ci-hotel.yml
  components/hotel-module/hotel-lint/src/main/java/com/jamesfchen/lint/DangerousApiDetector.kt
Due: none

add docs
  framework/image/README.md
  framework/loader/src/main/java/com/jamesfchen/loader/App.java
  framework/loader/src/main/java/com/jamesfchen/loader/monitor/JANK_README.md
  framework/loader/src/main/java/com/jamesfchen/loader/monitor/MEM_README.md
  framework/loader/src/main/java/com/jamesfchen/loader/monitor/START_README.md
  framework/loader/src/main/java/com/jamesfchen/loader/monitor/UI_README.md
  framework/network/README.md
  script/dump_mat_hprof.py
Due: fwk-image, fwk-network, fwk-loader

add glide
  components/home-module/main/build.gradle
  components/home-module/main/src/main/java/com/jamesfchen/main/HomeApp.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/MemMonitor.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/image/HomeLoader.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/image/HomeModule.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/image/ImageLoader.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/image/ImagePreloadModelProvider.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/network/README.md
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/WebViewActivity.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/photo/PhotoActivity.java
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/photo/PhotoFragment.java
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/photo/PhotoListActivity.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/photo/PhotoListAdapter.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/photo/SectionsPagerAdapter.java
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/photo/model/Item.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/photo/model/Photo.java
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/photo/repository/StockImages.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/profile/ProfileFragment.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/profile/vm/ProfileViewModel.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/splash/AbsPermissionsActivity.java
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/splash/SplashActivity.java
  components/home-module/myhome/src/main/res/drawable-xhdpi/jack_beach.jpg
  components/home-module/myhome/src/main/res/layout/activity_webview.xml
  framework/image/build.gradle
  framework/loader/build.gradle
  framework/loader/proguard-rules.pro
  framework/loader/src/main/java/com/jamesfchen/loader/GlideModule.java
  framework/loader/src/main/java/com/jamesfchen/loader/HomeExtension.java
  framework/loader/src/main/java/com/jamesfchen/loader/YourAppMemoryCacheImpl.java
  framework/network/README.md
  script/bundle_module.gradle
Due: fwk-image, fwk-network, fwk-loader

update
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/image/HomeGlideUrlModuleLoader.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/image/HomeModule.kt
  framework/image/build.gradle
  framework/image/src/main/java/com/jamesfchen/image/SvgDecoder.java
  framework/image/src/main/java/com/jamesfchen/image/SvgDrawableTranscoder.java
  framework/image/src/main/java/com/jamesfchen/image/SvgModule.java
  framework/image/src/main/java/com/jamesfchen/image/SvgSoftwareLayerSetter.java
  framework/loader/src/main/java/com/jamesfchen/loader/ApmInitializer.kt
  framework/loader/src/main/java/com/jamesfchen/loader/GlideModule.java
Due: fwk-image, fwk-loader

add coil
  .gitmodules
  framework/image/build.gradle
  framework/image/src/main/java/android/support/rastermill/README.md
Due: fwk-image

optimiza gitlab ci
  .gitlab-ci-fwk.yml
  build.gradle
  module_config.json
  script/module_builder.gradle
  script/module_publisher.gradle
Due: none

update common
  framework/common/async/test/java/com/jamesfchen/common/ConcurrenceTest.java
  framework/common/build.gradle
  framework/common/src/test/java/com/jamesfchen/common/ExampleUnitTest.java
Due: fwk-common

fix complie error
  framework/network/src/test/java/com/jamesfchen/network/wire/Profile.java
Due: fwk-network

update fwk gitlab ci
  .gitlab-ci-fwk.yml
Due: none

update
  .gitlab-ci-hotel.yml
  script/file_counter.gradle
Due: none

update
  .gitlab-ci-hotel.yml
Due: none

update
  components/hotel-module/foundation/src/main/java/com/jamesfchen/foundation/dangrous/Test2.java
Due: none

update
  .gitlab-ci-fwk.yml
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/photo/PhotoFragment.java
  framework/loader/src/main/java/com/jamesfchen/mvvm/ObservableViewModel.kt
  script/module_builder.gradle
Due: fwk-loader

add imagelist
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/photo/PhotoListActivity.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/photo/PhotoListAdapter.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/photo/repository/StockImages.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/widget/CollapseTextView.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/widget/ImageListView.kt
  components/home-module/myhome/src/main/res/layout/item_photo_text.xml
  components/home-module/myhome/src/main/res/layout/view_collapse_text.xml
  components/home-module/myhome/src/test/java/com/jamesfchen/myhome/ExampleUnitTest.java
  components/hotel-module/bundle2/src/main/java/com/jamesfchen/bundle2/AppLifecycle.java
  framework/common/build.gradle
  framework/loader/src/main/AndroidManifest.xml
  framework/loader/src/main/java/com/jamesfchen/loader/EmojiInitializer.kt
  framework/loader/src/main/java/com/jamesfchen/loader/ImageLoader.kt
  script/module_builder.gradle
Due: fwk-common, fwk-loader

add account api
  components/account-module/export/.gitignore
  components/account-module/export/build.gradle
  components/account-module/export/consumer-rules.pro
  components/account-module/export/proguard-rules.pro
  components/account-module/export/src/main/AndroidManifest.xml
  components/account-module/export/src/main/java/com/jamesfchen/export/AccountService.java
  components/account-module/login/src/main/java/com/jamesfchen/AccountServiceImp.java
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/photo/PhotoListActivity.kt
  module_config.json
  script/api_module.gradle
  script/bundle_module.gradle
  script/module_builder.gradle
Due: none

update
  components/home-module/myhome/build.gradle
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/photo/PhotoActivity.java
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/profile/ProfileDetailActivity.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/profile/ProfileFragment.kt
  components/home-module/myhome/src/main/res/drawable-xhdpi/bg_shadow.9.png
  components/home-module/myhome/src/main/res/layout/activity_profile_detail_skeleton.xml
  framework/loader/src/main/java/com/jamesfchen/README.md
  framework/loader/src/main/java/com/jamesfchen/mvp/README.md
  framework/loader/src/main/java/com/jamesfchen/mvvm/README.md
  framework/loader/src/main/java/jamesfchen/widget/collapsetext/CollapseTextView.kt
  framework/loader/src/main/res/layout/view_collapse_text.xml
  script/base_module.gradle
Due: fwk-loader

update
  components/home-module/main/src/main/java/com/jamesfchen/main/HomeApp.kt
  components/home-module/myhome/src/main/assets/test.html
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/WebViewActivity.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/notification/InfosFragment.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/profile/ProfileFragment.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/splash/SplashActivity.java
  components/home-module/myhome/src/main/res/navigation/nav_graph.xml
  framework/loader/src/main/java/com/jamesfchen/loader/monitor/MEM_README.md
Due: fwk-loader

optimiz image
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/MemMonitor.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/image/HomeGlideUrlModuleLoader.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/photo/model/Photo.java
Due: none

update
  components/box-module/main/build.gradle
  components/box-module/main/src/main/AndroidManifest.xml
  components/box-module/main/src/main/java/com/jamesfchen/main/BaseImageView.kt
  components/box-module/main/src/main/java/com/jamesfchen/main/ImageApi.kt
  components/box-module/main/src/main/java/com/jamesfchen/main/InfosFragment.kt
  components/box-module/main/src/main/java/com/jamesfchen/main/InfosViewModel.kt
  components/box-module/main/src/main/java/com/jamesfchen/main/MyIntentService.java
  components/box-module/main/src/main/res/layout/fragment_infos.xml
  components/box-module/main/src/main/res/raw/parting_ways.jpg
  components/box-module/main/src/main/res/raw/parting_ways_600_300.png
  components/home-module/main/src/main/java/com/jamesfchen/main/HomeApp.kt
  framework/common/src/main/java/com/jamesfchen/common/util/memory_ext.kt
  framework/image/README.md
  framework/loader/src/main/java/com/jamesfchen/loader/monitor/MEM_README.md
  framework/loader/src/main/java/com/jamesfchen/loader/monitor/MemAnalyer.kt
  framework/loader/src/main/java/com/jamesfchen/loader/monitor/Monitor.kt
  framework/loader/src/main/java/com/jamesfchen/loader/monitor/memory_ext.kt
Due: fwk-common, fwk-image, fwk-loader

add collpaetextview
  build.gradle
  components/box-module/main/src/main/java/com/jamesfchen/main/MainActivity.kt
  components/home-module/main/src/main/java/com/jamesfchen/main/HomeApp.kt
  components/home-module/myhome/src/main/AndroidManifest.xml
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/WebViewActivity.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/photo/LargePhotoActivity.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/photo/PhotoListActivity.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/photo/PhotoListAdapter.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/profile/ProfileFragment.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/splash/SplashActivity.java
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/util/Util.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/widget/CollapseTextView.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/widget/PhotoListView.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/widget/PhotoView.kt
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/widget/SmartCollapseTextView.kt
  components/home-module/myhome/src/main/res/layout/item_photo_text.xml
  components/home-module/myhome/src/main/res/layout/view_collapse_text.xml
  framework/loader/src/main/java/com/jamesfchen/loader/ApmInitializer.kt
  framework/loader/src/main/java/com/jamesfchen/loader/monitor/AppMonitor.kt
  framework/loader/src/main/java/com/jamesfchen/loader/monitor/FrameMonitor.kt
  framework/loader/src/main/java/com/jamesfchen/loader/monitor/Lifecycle.kt
  framework/loader/src/main/java/com/jamesfchen/loader/monitor/MEM_README.md
  framework/loader/src/main/java/com/jamesfchen/loader/monitor/MemAnalyer.kt
  framework/loader/src/main/java/com/jamesfchen/loader/monitor/MemMonitor.kt
  framework/loader/src/main/java/com/jamesfchen/loader/monitor/memory_ext.kt
  gradle/wrapper/gradle-wrapper.properties
  module_config.json
Due: fwk-loader

update mvp
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/home/HomeActivity.java
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/home/HomeContract.java
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/home/HomeFragment.java
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/screen/home/HomePresenter.java
  components/home-module/myhome/src/main/java/com/jamesfchen/myhome/splash/SplashActivity.java
  components/home-module/myhome/src/main/res/layout/activity_home.xml
  components/home-module/myhome/src/main/res/layout/content_home.xml
  components/home-module/myhome/src/main/res/layout/fragment_home.xml
  components/home-module/myhome/src/main/res/layout/item_image_and_text.xml
  framework/loader/src/main/java/com/jamesfchen/mvp/RxActivity.java
  framework/loader/src/main/java/com/jamesfchen/mvp/RxFragment.java
  framework/loader/src/main/java/com/jamesfchen/mvp/RxPresenter.java
Due: fwk-loader

update
  components/box-module/main/build.gradle
  components/box-module/main/src/main/java/com/jamesfchen/main/BaseImageView.kt
  components/box-module/main/src/main/java/com/jamesfchen/main/InfosFragment.kt
  components/box-module/main/src/main/res/layout/fragment_infos.xml
  framework/loader/src/main/java/com/jamesfchen/loader/monitor/AppMonitor.kt
  framework/loader/src/main/java/com/jamesfchen/loader/monitor/LayoutMonitor.kt
Due: fwk-loader

update
  components/box-module/main/src/main/AndroidManifest.xml
  components/box-module/main/src/main/java/com/jamesfchen/main/MainActivity.kt
  components/box-module/main/src/main/java/com/jamesfchen/main/PoemView.kt
  components/box-module/main/src/main/java/com/jamesfchen/main/TestActivity.kt
  framework/loader/src/main/AndroidManifest.xml
  framework/loader/src/main/java/com/jamesfchen/loader/App.java
  framework/loader/src/main/java/com/jamesfchen/loader/YourAppMemoryCacheImpl.java
  framework/loader/src/main/java/com/jamesfchen/loader/monitor/AppMonitor.kt
  framework/loader/src/main/java/com/jamesfchen/loader/monitor/MemMonitor.kt
  framework/loader/src/main/java/com/jamesfchen/loader/monitor/START_README.md
  framework/loader/src/main/java/com/jamesfchen/loader/monitor/StartupMonitor.kt
  framework/loader/src/main/java/com/jamesfchen/loader/monitor/StartupTrace.kt
Due: fwk-loader

Path conditions:
  fwk-common: any of: framework/common/**/*
  fwk-av: any of: framework/av/**/*
  fwk-hybrid: any of: framework/hybrid/**/*
  fwk-image: any of: framework/image/**/*
  fwk-map: any of: framework/map/**/*
  fwk-network: any of: framework/network/**/*
  fwk-storage: any of: framework/storage/**/*
  fwk-loader: any of: framework/loader/**/*
  home-myhome: any of: home-module/myhome/**/*
  home-deploy: any of: home-module/myhome/**/*
